# Telegram Bot Token
BOT_TOKEN=your_bot_token_here

# PostgreSQL настройки
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=diabet_user
POSTGRES_PASSWORD=diabet_password
POSTGRES_DB=diabet_bot

# Режим отладки
DEBUG=True
